<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<%= form_tag orders_path do %>
<article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <label class="amount m-5">
    <h4><%=@item_price %></h4>
  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Achat d'un produit"
    data-amount=<%=@item_price.to_f*100%>
    data-locale="auto">
</script>
<% end %>