
<!-- JUMBOTRON -->
<body>
  <div class="container py-5">
    <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(https://www.nipponconnection.fr/wp-content/uploads/2014/09/Sans-titre-1.jpg);">
      <h2 class="mb-4 "><p style="text-align:center">Tous les chats</h2></p>
    </div>
  </div>
</body>
 <div class="container">
    
    <div class="row gx-4 gy-4 mb-3">

  <% @items.each do |item| %>
              
      <div class="col-sm-3">
        <a href="<%= item_path(item.id) %>">
          <%= image_tag item.image_url, :alt => "cat image",class:"card-img ",style: "height: 300px, width:auto" %>
        </a>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title"><%=item.title%></h5>
            <p class="card-text"><%=item.description%></p>
            <a href="<%= item_path(item.id) %>" class="btn btn-warning" >Voir cette photo</a>
            <i class="fas fa-cart-arrow-down fa-2x"></i>
          </div>
        </div>
      </div>

  <%end%>
    
