
 <div class="container">
    <h2 class="mb-4 "><p style="text-align:center">Tous les chats</h2></p>
    <div class="row gx-4 gy-4 mb-3">

  <% @items.each do |item| %>
              
      <div class="col-sm-3">
        <a href="<%= item_path(item.id) %>">
          <%= image_tag item.image_url, :alt => "cat image",class:"card-img ",style: "height: 300px, width:auto" %>
        </a>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" style="backgound-color: rgb(255,120,81)">
          <div class="card-body">
            <h5 class="card-title"><%=item.title%></h5>
            <p class="card-text"><%=item.description%></p>
            <a href="<%= item_path(item.id) %>" class="btn btn-warning" >Acheter cette photo</a>
          </div>
        </div>
      </div>

  <%end%>
    
